<div class="container1">

<button mat-icon-button (click)="close()" color="accent" style="margin-top:-7px ; margin-bottom:7px ;  float: right;" >
  <mat-icon>close</mat-icon>
</button>
<mat-toolbar class="header" color="primary"><span class="center">Sign Up</span>




</mat-toolbar>

<form [formGroup]="userFormGroup">



  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" >
    <div class="alert-danger" *ngIf="userFormGroup.controls['email']?.['touched'] &&  userFormGroup.controls['email']?.['invalid']" style="color:red ; ">
      <div *ngIf="userFormGroup.controls['email']?.errors?.['required']"> email  is  required </div>
      <div *ngIf="userFormGroup.controls['email']?.errors?.['pattern']"> invalid  email : test@xxx.com </div>
    </div>
  </div>

  <button  [disabled]="userFormGroup.invalid" type="submit" style="width:100% ; margin-bottom: 50px;margin-right: 10%;" mat-raised-button color="accent" (click)="send()">Submit</button>


</form>

</div>


